<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" 
"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>


<bean id="triangolo" class="it.alfasoft.andrea.primoApplicationContext.Triangolo">

<!-- ***** setto utilizzando il set ***** -->
<!-- 	<property name="nome" value="Equilaterale" /> -->
<!-- 	<property name="base" value="15" /> -->


<!-- ***** setto utilizzando il costruttore vuoto *****-->
<!-- index 0 indica il primo attributo, index 1 il secondo -->
	<constructor-arg index="0" value="Equilaterale" />
	<constructor-arg index="1" value="20" />

</bean>

</beans>